.cards ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards ul li {
  text-align: left;
}

@media (min-width: 600px) {
  .cards ul li {
    text-align: center;
    flex-basis: 50%;
  }
}

.cards h4 {
  margin-bottom: 0;
}

.cards p {
  margin: 0;
}

.cards a {
  text-decoration: none;
}

.cards a:hover {
  opacity: .6;
  transition: all .3s ease;
}