.cards ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards ul li {
  text-align: left;
}

@media (min-width: 600px) {
  .cards ul li {
    text-align: center;
    flex-basis: 50%;
  }
}

.cards h4,
.cards h3 {
  margin-bottom: 0;
}

.cards h3 { 
  font-family: var(--heading-font-family-light);
  font-size: var(--heading-font-size-m);
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
  color: var(--link-color);
}

.cards p {
  margin: 0;
}

.cards a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
}

.cards ul>li>a:hover, .cards ul>li>a:focus {
  opacity: .6;
  transition: all .3s ease;
}

.cards a img {
  aspect-ratio: 490 / 506;
}

@media (min-width: 900px) {
  .cards a img {
    aspect-ratio: 750 / 774;
  }
}
