.section > div.columns-wrapper {
  padding-top: 0;
  padding-bottom: 6.25rem;
}

.columns > div {
  display: flex;
  flex-wrap: wrap;
}

.columns > div > div {
  order: 1;
  flex-basis: 50%;
  text-align: center;
}

.columns > div > .columns-img-col {
  order: 1;
  text-align: right;
  align-self: center;
}

.columns .button-container .button {
  width: 100%;
  font-family: var(--global-tertiary-font-family);
  min-width: 10.938rem;
}

.columns > div > .columns-img-col img {
  display: inline-block;
}

.product .columns a.button {
  font-family: var(--global-tertiary-font-family);
  font-weight: bold;
  text-transform: none;
  background: none;
  color: var(--global-color-black);
  padding: 0;
  margin: 0;
  white-space: break-spaces;
}

@media (min-width: 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
    align-items: end;
    text-align: center;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > div:last-child {
    flex-grow: 2;
  }

  .columns > div > .columns-img-col {
    order: 0;
  }

  .columns .button-container .button {
    width: auto;
  }
}
