main .section .accordion-wrapper {
    padding: revert;
    margin-top: -40px;
}

.accordion-wrapper .accordion-panel {
    margin: auto;
    padding-left: 22px;
}

.accordion-wrapper .accordion-section .header {
    text-transform: initial;
    font-family: var(--global-tertiary-font-family);
}

.accordion-wrapper .accordion-section h4 {
    margin: unset;
}

.accordion-wrapper .accordion-section div[aria-hidden="true"] {
    display: none;
}

.accordion-wrapper .accordion-section div[aria-hidden="false"] {
    display: block;
}

.accordion-wrapper .accordion-wrapper .accordion-panel {
    margin: auto;
    padding-left: 22px;
}

.accordion-wrapper .accordion-section button {
    background-color: transparent;
    font-family: var(--global-quaternary-font-family);
    color: var(--global-color-selective-yellow) !important;
    letter-spacing: .6px;
    box-shadow: unset;
    padding: 0.938rem 4.688rem 0.938rem 2.125rem;
    display: block;
    position: relative;
    padding-left: 3.875rem;
    font-size: 1.375rem;
    margin-top: unset;
}

.accordion-wrapper .accordion-section button[aria-expanded="false"]::after {
    right: auto;
    left: 0.625rem;
    color: var(--global-color-black);
    font-size: 1.25rem;
    font-weight: bold;
    content: "\e922";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--global-georgia-font-family);
}

.accordion-wrapper .accordion-section button[aria-expanded="true"]::after {
    right: auto;
    left: 0.625rem;
    color: var(--global-color-black);
    font-size: 1.25rem;
    font-weight: bold;
    content: "\e91e";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--global-georgia-font-family);
}

.accordion-wrapper .accordion-section button[aria-expanded="true"] {
    border-bottom: 3px solid var(--global-color-platinum);
    width: 100%;
    text-align: left;
    border-radius: revert;
}

.accordion-wrapper .accordion-section:nth-child(1) button[aria-expanded="true"] {
    border-bottom: unset;
}

.accordion-wrapper .accordion-panel div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    width: fit-content;
    text-align: inherit;
}

.accordion-wrapper .accordion-panel div div:last-child {
    padding-left: 10px;
}

.accordion-wrapper .table-wrapper {
    background-color: #f6f6f6;
    font-size: 14px;
    color: var(--global-color-dim-gray);
    font-weight: 300;
    margin-top: -18px;
    display: flex;
    flex-wrap: wrap;
}

.accordion-wrapper .table-wrapper div ul {
    margin: unset;
}

.accordion-wrapper .table-wrapper div li {
    list-style-type: none;
}

.accordion-wrapper .table-wrapper div li::before {
    content: '- ';
}

.accordion-wrapper .table-wrapper .table.block {
    display: table;
    width: 100%;
    padding: 20px 26px;
    flex: 1;
}

.accordion-wrapper .table-wrapper .table.block div {
    display: table-row;
    height: 50px;
}

.accordion-wrapper .table-wrapper .table.block div div {
    display: table-cell;
    min-width: 50px;
    max-width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d3d3d3;
    vertical-align: middle;
}

.accordion-wrapper .table-wrapper .table.block div div:nth-child(1) {
    text-align: left;
}

.accordion-wrapper .table-wrapper .table.block div div:nth-child(2) {
    text-align: right;
}

.accordion-wrapper .table-wrapper .table.block div div:first-child:last-child {
    text-align: center;
}

.accordion-wrapper .table-wrapper p {
    font-size: 12px;
    border-bottom: revert;
    width: fit-content;
    flex: 1 0 100%;
    padding: 6px 26px;
    margin-top: -12px;
}

@media (max-width: 900px) {
    main .section .accordion-wrapper {
        padding-left: 22px;
        margin-top: unset;
    }

    .accordion-wrapper .accordion-section h4 {
        margin-right: 18px;
    }

    .accordion-wrapper .accordion-section button {
        font-size: 13px;
        padding-left: 40px;
    }

    .accordion-wrapper .accordion-section button[aria-expanded="true"]::after,
    .accordion-wrapper .accordion-section button[aria-expanded="false"]::after {
        font-size: 15px;
    }

    .accordion-wrapper .table-wrapper {
        margin-right: 18px;
    }

    .accordion-wrapper .table-wrapper p {
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .accordion-wrapper .table-wrapper .table.block:nth-child(1) {
        padding-bottom: revert;
    }

    .accordion-wrapper .table-wrapper .table.block:nth-child(2) {
        padding-top: revert;
    }

}