/* header and nav layout */
header .nav-wrapper {
  background-color: var(--global-color-white);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  margin: auto;
  height: var(--nav-height);
  padding: 0 43px 0px 0;
  font-family: var(--body-font-family);
}

span.icon.icon-search svg {
  display: none;
}

span.icon.icon-search {
  background: var(--global-color-pine-green);
  border-radius: 50%;
  padding: 20px;
  color: white;
  position: relative;
}

span.icon.icon-search::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  header nav {
    padding: 0 43px 0px 0;
    gap: 0;
  }


}

@media (max-width: 900px) {

  header nav .nav-sections>ul {
    display: block;
    background-color: var(--global-color-white);
    white-space: initial;
    position: fixed;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    overflow: auto;
  }

  header nav a:any-link {
    display: block;
    margin: 0;
    text-align: left;
    background-color: var(--global-color-Alabaster);
    font-size: .75rem;
    padding: 20px 10px;
  }
  header nav > div.nav-sections > ul > li > a  {
    color: var(--global-color-pine-green);;
  }

}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 3px 28px 0px 0;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    overflow-y: auto;
  }
  header nav a:any-link {
    text-decoration: none;
    padding: 27px 10px;
    color: var(--global-color-pine-green);
  }
  header nav > div.nav-sections > ul > li.nav-drop > ul > li > a{
    color: initial;
  }
}


header nav p {
  margin: 0;
  line-height: 1;
}



/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  padding: 0 12px 18px 0;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -5px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 5px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 180px;
  height: auto;
  padding: 10px 0 0 11px;
}

@media (max-width: 900px) {
  header nav .nav-brand img {
    height: auto;
    padding: 0 0px 27px 6.3px;
    width: 97px;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
  color: var(--global-color-pine-green);
  position: absolute;
  width: -webkit-fill-available;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
}

header nav .nav-sections ul>li {
  font-weight: 700;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
  color: initial;

}

header nav .nav-sections ul>li>ul>li {
  font-weight: 500;
}

@media (max-width: 900px) {
  header nav .nav-sections ul>li {
    font-weight: 700;
    float: none;
    display: block;
    position: relative;
    border-top: 1px solid var(--global-color-Mercury);
  }

  header nav .nav-sections>ul>li:not(.child-section)>ul {
    display: none;
  }

  .child-section-enable>ul>li:not(.child-section) {
    display: none;
  }

  .child-section-enable>ul>li>a:not(.mobile-icon) {
    display: none;
  }

  header nav .nav-sections .child-section .mobile-icon {
    display: none;
  }

  header nav .sub-nav li a {
    color: initial;
  }

  header nav .sub-nav span {
    color: currentcolor;
    text-decoration: none;
    padding: 1.125rem 1.575rem 1.25rem 1.575rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: .875rem;
    cursor: pointer;
  }

  header nav .nav-back-btn span {
    padding: 1.125rem 1.575rem 1.25rem 1.575rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: .775rem;
    cursor: pointer;
    color: var(--global-color-pine-green);
    font-weight: bold;
  }

  header nav .nav-sections .nav-drop .mobile-icon span {
    position: absolute;
    right: 0;
    padding: 15px 22px;
    font-family: 'iconanchor' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  header nav .nav-sections .nav-drop .mobile-icon:before {
    content: "";
    position: absolute;
    top: 4px;
    height: 2.5rem;
    width: 0.063rem;
    background-color: var(--global-color-Mercury);
    right: 50px;
  }

  header nav .nav-sections .nav-drop .mobile-icon span:before {
    content: "\e902";
  }
}

@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
    font-family: var(--heading-font-family);
    font-size: .875rem;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    cursor: pointer;
  }

  header nav .nav-sections ul {
    display: flex;
    margin: 0;
    font-size: .875rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  header nav .nav-sections>ul>li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px;
    cursor: pointer;
    font-size: 0.835rem;
    margin: 0 .11px 0 9px;
  }

  header nav .nav-sections>ul>li>strong {
    border-bottom: 3px solid var(--global-color-selective-yellow);
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
  }

  header nav .nav-sections>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--global-color-selective-yellow);
    transition: width 0.3s;
  }

  header nav .active:after {
    width: 100% !important;
  }

  header nav .nav-sections>ul>li:hover::after {
    width: 100%;
  }

  header nav .nav-sections>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections>ul>li[aria-expanded="true"]>ul {
    display: block;
    background-color: var(--global-color-white);
    white-space: initial;
    position: fixed;
    top: calc(var(--nav-height) + 1px);
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    padding-top: 1.125rem;
  }

  header nav .nav-sections>ul>li>ul>li {
    padding: 0.625rem 0 0.75rem;
    width: 475px;
    margin: auto
  }

  header nav .nav-sections>ul>li>ul>li.nav-back-btn {
    display: none;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/* search icon */
.icon-search {
  height: 43px;
  width: 43px;
}

@media only screen and (max-width: 900px) {
  .icon-search {
    height: 32px;
    width: 33px;
    padding-bottom: 19px;
  }
}