.section div.buy-options-wrapper {
  padding: 0;
}

.buy-options-container{
  position: relative;
  z-index: 5;
}

.buy-options {
  border-bottom: 1px solid var(--global-color-light-gray);
  padding-bottom: 30px;
}

.buy-options ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 20px;
}

.buyoption a {
  display: inline-block;
}

.buyoption img {
  height: auto;
  max-width: 100%;
}

@media (min-width: 900px) {
  .buy-options ul {
    gap: 40px;
  }
}
