/* Hero Banner */
.hero {
    position: relative;
}

.hero .hero-bg img,
.hero .hero-product img {
    width: 100%;
    display: block;
}

.hero .hero-splash {
    background-position: bottom;
    background-size: cover;
    top: 1px;
    bottom: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

/* Main - Hero Banner */
.main .hero-bg img {
    height: 18.6rem;
    object-fit: cover;
}

/* Recipe & Product - Hero Banner */
.recipe .hero .hero-bg {
    position: relative;
}

.recipe .hero-bg img {
    height: 18.75rem;
    object-fit: cover;
}

.product .hero-bg {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.product .hero-product {
    position: relative;
    z-index: 2;
}

@media (min-width: 600px) {    
    /* Main - Hero Banner */
    .main .hero-bg img {
        height: 18.6rem;
        min-height: unset;
    }

    /* Recipe & Product - Hero Banner */
    .recipe .hero-bg img {
        height: 18.75rem;
        min-height: unset;
    }

    .product .hero-bg img {
        min-height: unset;
        object-fit: unset;
    }
}

@media (min-width: 900px) {    
    /* Main - Hero Banner */
    .main .hero-bg img {
        height: 38.75rem;        
    }

    /* Recipe - Hero Banner */
    .recipe .hero-bg img {
        height: 29.875rem;
    }
}

@media (min-width: 1200px) {
    /* Main - Hero Banner */
    .main .hero-bg img {
        height: 43.625rem;
    }

    /* Recipe - Hero Banner */
    .recipe .hero-bg img {
        height: 25rem;
    }
}