/* Hero Banner */
.hero {
    position: relative;
}

.hero .hero-bg img,
.hero .hero-product img {
    width: 100%;
    display: block;
}

/* Main - Hero Banner */
.hero.main .hero-bg img {
    height: 18.6rem;
    object-fit: cover;
}

/* Recipe & Product - Hero Banner */
.recipe .hero .hero-bg {
    position: relative;
}

.recipe .hero .hero-bg::after,
.product .hero .hero-bg::after {
    background-position: bottom;
    background-size: cover;
    bottom: 0;    
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.recipe .hero .hero-bg::after {
    background-image: url("../../styles/images/milk-splash-mobile.png");
}

.recipe .hero .hero-bg img {
    height: 18.75rem;
    object-fit: cover;
}

.product .hero .hero-bg {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.product .hero .hero-product {
    position: relative;
    z-index: 2;
}

.product .hero .hero-bg::after {
    background-image: url("../../styles/images/product-milk-splash-mobile.png");
}

@media (min-width: 600px) {    
    /* Main - Hero Banner */
    .hero.main .hero-bg img {
        height: 18.6rem;
        min-height: unset;
    }

    /* Recipe & Product - Hero Banner */
    .recipe .hero .hero-bg img {
        height: 18.75rem;
        min-height: unset;
    }

    .recipe .hero .hero-bg::after {
        background-image: url("../../styles/images/milk-splash-desktop.png");
    }

    .product .hero .hero-bg img {
        min-height: unset;
        object-fit: unset;
    }

    .product .hero .hero-bg::after {
        background-image: url("../../styles/images/product-milk-splash-desktop.png");
    }
}

@media (min-width: 900px) {    
    /* Main - Hero Banner */
    .hero.main .hero-bg img {
        height: 38.75rem;        
    }

    /* Recipe - Hero Banner */
    .recipe .hero .hero-bg img {
        height: 29.875rem;
    }
}

@media (min-width: 1200px) {
    /* Main - Hero Banner */
    .hero.main .hero-bg img {
        height: 43.625rem;
    }

    /* Recipe - Hero Banner */
    .recipe .hero .hero-bg img {
        height: 25rem;
    }
}