/* Hero Banner */
.hero {
    position: relative;
}

.hero .hero-bg {
    position: relative;
}

.hero .hero-bg img,
.hero .hero-product img {
    width: 100%;
    display: block;
}

.hero .hero-bg img {
    height: 18.75rem;
    object-fit: cover;
}

.hero .hero-splash {
    background-position: bottom;
    background-size: cover;
    top: 1px;
    bottom: 0;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

/* Main - Hero Banner */
.hero.main .hero-bg img {
    height: auto;
    min-height: 18.6rem;
    object-fit: cover;
}

/* Product - Hero Banner */
.hero.has-product .hero-bg {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.hero.has-product .hero-bg img {
    height: unset;
    object-fit: unset;
}

.hero.has-product .hero-product {
    position: relative;
    z-index: 2;
}

@media (min-width: 600px) {
    .hero .hero-bg img {
        height: 18.75rem;
    }

    /* Main - Hero Banner */
    .hero.main .hero-bg img {
        min-height: 18.6rem;
    }
}

@media (min-width: 900px) {
    .hero .hero-bg img {
        height: 29.875rem;
    }

    /* Main - Hero Banner */
    .hero.main .hero-bg img {
        min-height: 38.75rem;        
    }
}

@media (min-width: 1200px) {
    .hero .hero-bg img {
        height: 25rem;
    }

    /* Main - Hero Banner */
    .hero.main .hero-bg img {
        min-height: 43.625rem;
    }
}