.recipe-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-card {
  display: block;
  background: var(--global-color-white);
  box-shadow: 0 2px 3px 0 rgba(0 0 0 / 16%);
  transition: all .3s ease;
}

.recipe-card img {
  height: 18.75rem;
  object-fit: cover;
  width: 100%;
}

.recipe-card:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.recipe-card:hover img {
  opacity: .7;
}

.recipe-card .recipe-content {
  padding: 0.625rem;
}

.recipe-card .recipe-content h4 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  height: 2.813rem;
  color: var(--global-color-dark-blue);
  margin: 0;
}

.recipe-card .recipe-content .recipe-desc {
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 300;
  max-height: 5.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.4rem;
}

.recipe-card .recipe-info {
  padding-bottom: 0.625rem;
  padding-top: 1.469rem;
  font-size: .688rem;
  line-height: .75rem;
}

.recipe-card .recipe-info .recipe-card-icon {
  color: var(--global-color-gray64);
  text-transform: uppercase;
  display: inline-block;
  line-height: .6rem;
}

.recipe-card .recipe-info .recipe-card-icon:not(:first-child) {
  border-left: 1px solid #dedede;
  margin-left: 0.625rem;
  padding-left: 0.625rem;
}

.recipe-card .recipe-info .recipe-card-icon::before {
  font-size: 1.125rem;
  margin-right: 0.5rem;
  position: relative;
  top: 4px;
}

@media (min-width: 600px) {
  .recipe-list ul li {
    flex-basis: 47.25%;
  }
}

@media (min-width: 1200px) {
  .recipe-list ul li {
    flex-basis: 31.25%;
  }
}