.carousel .slider-container {
    display: flex;
    overflow: hidden;
    gap: 1rem;
}

.carousel .recipe-slider-list, .carousel .product-slider-list {
    overflow: hidden;
}

.carousel-container {
    margin-bottom: 2rem;
}

.carousel .recipe-slider-item {
    flex: 0 0 calc(100% / 2 - .67rem);
}

.carousel .product-slider-item {
    flex: 0 0 calc(100% / 2 - .67rem);
}

.carousel .scroll-left {
    background-color: transparent;
    overflow: initial;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: iconanchor, sans-serif;
    min-width: 0;
    padding-right: 3rem;
}

.carousel .scroll-right {
    background-color: transparent;
    overflow: initial;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: iconanchor, sans-serif;
    min-width: 0;
}

@media (min-width: 600px){
    .carousel .product-slider-item {
      flex: 0 0 calc(100% / 3 - .67rem);
    }

    .carousel .scroll-right, .carousel .scroll-left{
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .carousel .recipe-slider-item {
        flex: 0 0 calc(100% / 3 - .67rem);
    }
    
    .carousel .product-slider-item {
        flex: 0 0 calc(100% / 4 - .67rem);
    }

    .carousel .scroll-right, .carousel .scroll-left{
        font-size: 3rem;
    }
} 

.slide-transition-right,
.slide-transition-left {
    transition: transform 0.5s step-end;
}

.carousel h3 {
    font-family: Mark-OT,Helvetica,Arial,sans-serif;
    font-size: .85rem;
    letter-spacing: .013rem;
    margin: 0 auto;
    margin-top: 0.625rem;
    text-align: center;
}

.carousel {
    display: flex;
}

.carousel a:hover {
    color: var(--global-color-bahama-blue);
    text-decoration: none;
}



.scroll-right:hover,
.scroll-left:hover {
    border: none;
    overflow: initial;
}

#bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

.bullet {
    margin: 0 0.438rem;
    background: var(--global-color-foggy-gray);
    padding: 0;
    border: 0;
    height: .75rem;
    width: .75rem;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
}

.bullet-active {
    background: var(--global-color-pine-green);
}

.scroll-left::before {
    content: "\e901";
    color: var( --global-color-pine-green);
}

.scroll-right::before {
    content: "\e902";
    color: var( --global-color-pine-green);
}

.product-slider-item img, .recipe-slider-item img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}

.carousel-header h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}