/* iconanchor */
@font-face {
  font-family: iconanchor;
  src: url("fonts/icon/iconanchor.woff") format("woff"),
    url("fonts/icon/iconanchor.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "iconanchor-v2";
  src: url("clientlibs/fonts/iconanchor-v2.ttf?mcjpe1") format("truetype"),
    url("clientlibs/fonts/iconanchor-v2.woff?mcjpe1") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Mark-OT Fonts */
@font-face {
  font-family: mark-ot;
  src: url("fonts/Mark-OT.woff2") format("woff2"),
    url("fonts/Mark-OT.woff") format("woff"),
    url("fonts/Mark-OT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: mark-ot;
  src: url("fonts/Mark-OT-Light.woff2") format("woff2"),
    url("fonts/Mark-OT-Light.woff") format("woff"),
    url("fonts/Mark-OT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: mark-ot;
  src: url("fonts/Mark-OT-Medium.woff2") format("woff2"),
    url("fonts/Mark-OT-Medium.woff") format("woff"),
    url("fonts/Mark-OT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: mark-ot;
  src: url("fonts/Mark-OT-Bold.woff2") format("woff2"),
    url("fonts/Mark-OT-Bold.woff") format("woff"),
    url("fonts/Mark-OT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Mark-OT Book Fonts */
@font-face {
  font-family: mark-ot-book;
  src: url("fonts/Mark-OT-Book.woff2") format("woff2"),
    url("fonts/Mark-OT-Book.woff") format("woff"),
    url("fonts/Mark-OT-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Stag Fonts */
@font-face {
  font-family: stag;
  src: url("fonts/Stag-Semibold.woff2") format("woff2"),
    url("fonts/Stag-Semibold.woff") format("woff"),
    url("fonts/Stag-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: stag;
  src: url("fonts/Stag-Medium.woff2") format("woff2"),
    url("fonts/Stag-Medium.woff") format("woff"),
    url("fonts/Stag-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Stag Book Fonts */
@font-face {
  font-family: stag-book;
  src: url("fonts/Stag-Book.woff2") format("woff2"),
    url("fonts/Stag-Book.woff") format("woff"),
    url("fonts/Stag-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* StagSans Fonts */
@font-face {
  font-family: stag-sans-light;
  src: url("fonts/StagSans-Light.woff2") format("woff2"),
    url("fonts/StagSans-Light.woff") format("woff"),
    url("fonts/StagSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: stag-sans-medium;
  src: url("fonts/StagSans-Medium.woff2") format("woff2"),
    url("fonts/StagSans-Medium.woff") format("woff"),
    url("fonts/StagSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* StagSans Book Fonts */
@font-face {
  font-family: stag-sans-book;
  src: url("fonts/StagSans-Book.woff2") format("woff2"),
    url("fonts/StagSans-Book.woff") format("woff"),
    url("fonts/StagSans-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Other Fonts */
@font-face {
  font-family: evenfall-oblique;
  src: url("fonts/Evenfall-Oblique.woff2") format("woff2"),
    url("fonts/Evenfall-Oblique.woff") format("woff"),
    url("fonts/Evenfall-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ge-ss-two-bold;
  src: url("fonts/GE-SS-Two-Bold.woff2") format("woff2"),
    url("fonts/GE-SS-Two-Bold.woff") format("woff"),
    url("fonts/GE-SS-Two-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: ge-thameen-demibold-italic;
  src: url("fonts/GE-Thameen-DemiBold-Italic.woff2") format("woff2"),
    url("fonts/GE-Thameen-DemiBold-Italic.woff") format("woff"),
    url("fonts/GE-Thameen-DemiBold-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: cairo;
  src: url("fonts/Cairo.woff2") format("woff2"),
    url("fonts/Cairo.woff") format("woff"),
    url("fonts/Cairo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: iconanchor, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down::before {
  content: "\e900";
}

.icon-arrow-left::before {
  content: "\e901";
}

.icon-arrow-right::before {
  content: "\e902";
}

.icon-book::before {
  content: "\e903";
}

.icon-calendar::before {
  content: "\e904";
}

.icon-checkbox::before {
  content: "\e905";
}

.icon-checkbox-active::before {
  content: "\e906";
}

.icon-circle-add::before {
  content: "\e907";
}

.icon-circle-close::before {
  content: "\e908";
}

.icon-circle-information::before {
  content: "\e909";
}

.icon-circle-minus::before {
  content: "\e90a";
}

.icon-circle-pause::before {
  content: "\e90b";
}

.icon-circle-target::before {
  content: "\e90c";
}

.icon-circle-tick::before {
  content: "\e90d";
}

.icon-cirle-plus::before {
  content: "\e90e";
}

.icon-close::before {
  content: "\e90f";
}

.icon-critical-alert::before {
  content: "\e910";
}

.icon-download::before {
  content: "\e911";
}

.icon-edit::before {
  content: "\e912";
}

.icon-email::before {
  content: "\e913";
}

.icon-facebook::before {
  content: "\e914";
}

.icon-google-plus::before {
  content: "\e915";
}

.icon-heart::before {
  content: "\e916";
}

.icon-help::before {
  content: "\e917";
}

.icon-icon-knife::before {
  content: "\e918";
}

.icon-icon-time::before {
  content: "\e919";
}

.icon-icon-user::before {
  content: "\e91a";
}

.icon-instagram::before {
  content: "\e91b";
}

.icon-letter::before {
  content: "\e91c";
}

.icon-message::before {
  content: "\e91d";
}

.icon-minus::before {
  content: "\e91e";
}

.icon-pause::before {
  content: "\e91f";
}

.icon-phone::before {
  content: "\e920";
}

.icon-play::before {
  content: "\e921";
}

.icon-plus::before {
  content: "\e922";
}

.icon-recycle::before {
  content: "\e923";
}

.icon-replay::before {
  content: "\e924";
}

.icon-search::before {
  content: "\e925";
}

.icon-share::before {
  content: "\e926";
}

.icon-star::before {
  content: "\e927";
}

.icon-star-full::before {
  content: "\e9d9";
}

.icon-tick::before {
  content: "\e929";
}

.icon-twitter::before {
  content: "\e92a";
}

.icon-whatsapp::before {
  content: "\e92b";
}

.icon-wish-list .path1::before {
  content: "\e92c";
  color: #010101;
}

.icon-wish-list .path2::before {
  content: "\e92d";
  margin-left: -0.9727em;
  color: #231f20;
}

.icon-wish-list .path3::before {
  content: "\e930";
  margin-left: -0.9727em;
  color: #231f20;
}

.icon-wish-list .path4::before {
  content: "\e931";
  margin-left: -0.9727em;
  color: #231f20;
}

.icon-youtube::before {
  content: "\e932";
}

.icon-trash::before {
  content: "\e92e";
}

.icon-trash2::before {
  content: "\e92f";
}

/** TODO: check if this is still needed */

.icon-star-full-v2,
.icon-star-full,
.icon-star-empty {
  font-family: "iconanchor-v2", sans-serif !important;
}

.icon-star-empty::before {
  content: "\e9d7" !important;
}

.icon-star-full-v2::before,
.icon-star-full::before {
  content: "\e9d9" !important;
}

/* recipe details page */
.recipe h1 + .recipe-info {
  display: flex;
  gap: 1.6rem
}

.recipe h1 + .recipe-info .serving, .recipe h1 + .recipe-info .pre-time {
  padding-top: .375rem;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.recipe h1 + .recipe-info span.icon {
  width: auto;
  height: auto;
}

.recipe h1 + .recipe-info span.icon::before {
  font-size: 1.2rem;
}

.recipe h1 + .recipe-info span.text {
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
}

.recipe .columns-wrapper {
  padding: 20px 0;
}

.bottom-popup::before {
  content: '';
  position: absolute;
  width: calc(100% - 4rem);
  height: 1px;
  background-color: var(--global-color-silver);
}

.back-to-country::before {
  content: "\e901";
  font-weight: 10;
  font-size: 1.563rem;
  color: var(--global-color-dark-blue);
  vertical-align: middle;
  font-family: iconanchor, sans-serif;
}

.back-to-country {
  background: var(--global-color-white);
  padding: 0;
}


#language-dialog h3 {
  font-size: 2.625rem;
}

#language-dialog {
  padding: 1.25rem 1.25rem 0.625rem;
  background-color: var(--global-color-white);
  border: 0;
  width: 100%;
  min-height: 100%;
  margin: 0;
  max-width: 100%;
}

.country-item > a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 49%;
  padding: 48px;
}

@media (min-width: 1024px) {
  #language-dialog {
    width: 100%;
    padding: 45px 45px 65px;
    background-color: var(--global-color-white);
    border: 0;
    min-height: unset;
    margin: auto;
    height: 100%;
    max-width: 61.25rem;
    max-height: 37rem;
    border-radius: 1.563rem;
  }

  .container {
    padding: 20px 0 10px;
  }

  .bottom-popup {
    bottom: 1rem;
  }

  .country-item > a {
    width: 14%;
  }
}

.bottom-popup {
  position: absolute;
  bottom: 1rem;
  width: 95%;
}

.container {
  padding: 1rem 0;
}

.title-popup {
  margin: 0;
  color: var(--global-color-pine-green);
  font-size: 2.5rem;
}

.back-to-country .flag-name {
  color: var(--global-color-black);
  vertical-align: middle;
  font-weight: 50;
  text-transform: none;
  white-space: normal;
}

.country-item .flag-name {
  font-weight: 50;
  font-size: small;
}

.country-item > a:hover, .back-to-country .flag-name:hover  {
  color: var(--global-color-bahama-blue);
  text-decoration: none;
}

.flag-icon {
  vertical-align: middle;
  width: 2rem;
  border-radius: 50%;
}

.country-item {
  display: flex;
  gap: 25px;
}

.disable-scroll {
  overflow: hidden;
  opacity: 0.5;
  background-color: var(--global-color-black);
}

.disable-page-scroll {
  overflow: hidden;
}

/* Story tips page styles */
.story-tips  h1 {
  margin-top: 0;
}

.story-tips-action {
  display: flex;
  align-items: center;
  gap: 8px;
}

.story-tips-action .print-btn {
  font-size: .75rem;
  color: var(--global-color-gray64);
}

.story-tips-action:hover {
  text-decoration: none;
}

/* Search Dialog Styles */
#search-dialog[open]{
  background-color: #f5f5f7;
  border: none;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: unset;
  max-width: unset;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#search-dialog input:focus-visible {
  outline: 0;
}

#search-dialog .product-list .more-products {
  display: none;
}

#search-dialog .close {
  cursor: pointer;
}

#search-dialog .search-wrapper {
  height: 100%;
}

#search-dialog .search-results-container {
  padding: 0 0.938rem;
  max-width: 1366px;
  margin: 0 auto;
}

#search-dialog .search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

#search-dialog .search-header p {
  margin: 0;
}

#search-dialog .search-header img {
  height: auto;
  padding-left: 6.3px;
  width: 104px;  
}

#search-dialog .search-header .close {
  margin-right: 20px;
}

#search-dialog .search-results {
  display: flex;
  flex-direction: column;
}

#search-dialog .search-input-box {
  flex: 1;
}

#search-dialog .search-list {
  padding: 1.25rem 0 0;
  flex: 1;
}

#search-dialog .search-input-field {
  position: relative;
}

#search-dialog .search-input-field input {
  border: 0;
  font-family: "StagSans-Light",Helvetica,Arial,sans-serif;
  font-size: .875rem;
  padding: 0.625rem 2.188rem 0.625rem 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #006938;
  background-color: #fff;
  border-radius: 3.125rem;
  width: 100%;
  height: 35px;
}

#search-dialog .search-input-field .icon-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
}

#search-dialog .search-input-field input::placeholder {
  color: #006938;
  ::-webkit-input-placeholder {
    color: #006938;
  }
  :-moz-placeholder {
    color: #006938;
    opacity: 1; /* Required for Firefox */
  }
}

#search-dialog .product-list-title h4,
#search-dialog .suggestion-list h4 {
  margin: 0;
  padding: 0;
  font-family: stag-sans-medium;
  margin-bottom: 0;
  text-align: left;
  font-size: 1.125rem;
  color: #242424;
}
#search-dialog .product-list-results {
  display: flex;
  flex-direction: column;
  gap: 1.125rem 0;
  margin-top: 1.125rem;
}
#search-dialog .product-list-results picture {
  display: none;
}

#search-dialog .product-list-item a {
  color: inherit;
}

#search-dialog .product-list-item a:hover {
  text-decoration: none;
}

#search-dialog .product-list-item h6 {
  font-family: mark-ot-book;
  font-size: .75rem;
  padding: 0;
  margin: 0;  
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.136rem;
}

#search-dialog .product-list-item h6 a {
  color: #00338d;
}

#search-dialog .product-list-action a {
  display: block;
  margin: 1.625rem auto;
  width: 100%;
  background-color: transparent;
  border-top-left-radius: 1.438rem;
  border-bottom-right-radius: 1.5rem;
  border: 2px solid #00338d;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #00338d;
  padding: 7px 16px;
  height: 40px;
}

@media (min-width: 900px) {
  @keyframes vertical-marquee {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 1;
    }
    95% {
      opacity: 0.2;
    }
    100% {
      transform: translateY(500px);
      opacity: 0;
    }
  }

  #search-dialog .product-list .more-products {
    display: block;
  }

  #search-dialog .product-list .more-products a {
    color: #00338d;
    font-family: stag-sans-medium;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .025rem;
    font-weight: normal;
  }

  #search-dialog .product-list .more-products a:hover {
    color: #3db7e4;
    text-decoration: none;
  }

  .split-bar {
    position: relative;
    padding: 0 1.25rem;
  }

  .split-bar:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1.625rem;
    border-left: 1px solid #cbcbcd;
  }

  #search-dialog .product-list-title h4,
  #search-dialog .suggestion-list h4 {
    font-family: stag-sans-book;
    font-size: 1.375rem;
    color: #242424;
    font-weight: 400;
  }

  #search-dialog .search-header img {
    width: 190px;
    height: auto;
    padding-top: 7px;
    padding-left: 11px;
  }

  .search-results-container {
    position: relative;
    height: 100%;
  }

  #search-dialog .search-results {
    flex-direction: row;
    height: 100%;
  }

  #search-dialog .search-input-box {
    order: 2;
    position: relative;
  }

  #search-dialog .search-input-field .icon-search {
    width: 60px;
    height: 60px;
  }

  #search-dialog .search-list {
    order: 1;
  }

  #search-dialog .product-list.recipes {
    margin-top: 3.75rem;
  }

  #search-dialog .search-input-box .search-input-field {
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 2;
    width: 31.25rem;
  }

  #search-dialog .search-input-field input {
    font-size: 1.75rem;
    padding: 0.625rem 4.375rem 0.625rem 1.75rem;
    width: 100%;
    height: 60px;    
  }

  #search-dialog .product-list-results {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #search-dialog .product-list-item {
    margin-right: 2.5rem;
    max-width: 8.75rem;
  }

  #search-dialog .product-list-item h6 a {
    font-weight: 400;
    color: #000;
  }

  #search-dialog .product-list-item h6 a:hover {
    color: #00338d;
  }
  
  #search-dialog .product-list-title {
    display: flex;
    align-items: center;
  }
  #search-dialog .product-list-results picture {
    display: inline-block;
    padding-bottom: 15px;
  }
  #search-dialog .product-list-results img {
    display: block;
    width: 145px;
    height: 135px;
    object-fit: cover;
  }

  #search-dialog .product-list-action {
    display: none;
  }

  #search-dialog .suggestion-list {
    position: absolute;
    top: 0;
    left: 50%;
    height: 500px;
    overflow: hidden;
    width: 50%;
  }

  #search-dialog .suggestion-list h4 {
    display: none;
  }

  #search-dialog .suggestion-list .product-list-item h6 {
    margin-top: 2.813rem;
  }
  
  #search-dialog .suggestion-list .product-list-item h6 a {
    color: #00338d;
  }

  #search-dialog .suggestion-list .product-list-item h6 a:hover {
    text-decoration: underline;
  }

  #search-dialog .suggestion-list .product-list-results {
    display: block;
    animation: vertical-marquee 15s linear infinite;
    position: absolute;
    top: 0;
  }

  #search-dialog .suggestion-list .product-list-item {
    max-width: unset;    
  }
}

/* Print styles */

@media print {
  *,*::before,*::after {
    background: transparent;
    color: var( --link-color)  !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    margin: 0;
    background: transparent;
    color: var(--text-color);
    box-shadow: none;
    text-shadow: none
  }

  img,fieldset {
      border: 0
  }

  h1 {
      font-size: 1.8em
  }

  h2 {
      font-size: 1.6em
  }

  h3 {
      font-size: 1.4em
  }

  h4 {
      font-size: 1.2em
  }

  h5 {
      font-size: 1em
  }

  h6 {
      font-size: .9em
  }

  ol,ul {
      list-style-type: none
  }

  ol li,ul li {
      list-style-type: disc
  }

  dt {
      font-weight: bold
  }

  a,a:visited {
      color: var(--text-color);
      text-decoration: underline
  }

  a[href]::after {
      content: " (" attr(href) ")";
      font-weight: bold;
  }

  abbr[title]::after {
      content: " (" attr(title) ")"
  }

  input,select,textarea {
      border: 1px solid var(--text-color)
  }

  input {
      padding: 1px 0
  }

  select {
      margin: 0;
      padding: 0;
      background: var(--global-color-white);
      line-height: normal
  }

  img {
      max-width: 100%
  }

  pre,blockquote {
      border: 1px solid var(--text-color);
      page-break-inside: avoid
  }

  div {
      text-align: left
  }

  caption {
      display: none
  }

  table {
      border-top: 1px solid var(--text-color);
      border-left: 1px solid var(--text-color);
      border-collapse: separate;
      border-spacing: 0
  }

  table th,table td {
      padding: 5px;
      border-right: 1px solid var(--text-color);
      border-bottom: 1px solid var(--text-color);
      text-align: left
  }

  tr,img {
      page-break-inside: avoid
  }

  header,footer,.story-tips-action {
    display: none;
  }

}
